@using Marquite.Bootstrap.Elements
@using Marquite.Bootstrap.Extensions
@using Marquite.Core
@using Marquite.Test.MarqForms
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @(Html.Bs().Navbar("Reinforced.Marquite", Url.Action("Index", "Home"))
      .Fix(NavbarFix.Top)
      .AddNavigation(Html.Bs().Navigation()
          .Item(Html.ActionLink("Common classes", "Grids", "Home"))
          .Item(Html.ActionLink("Grids", "Grids", "Home"))
          .Item(Html.ActionLink("Tables", "Tables", "Home"))
          .Item(Html.ActionLink("Forms", "Forms", "Home"))
          .Item(Html.ActionLink("Buttons", "Buttons", "Home"))
      )
    )

    @using (Html.Bs().Container(true).AddClass("body-content").Open())
    {
        using (Html.Bs().Row().Open())
        {
            using (Html.Bs().Column(12).Open())
            {
                @RenderBody()
            }
        }

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Reinforced.Marquite</p>
        </footer>
    }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
