@using Marquite.Angular
@using Marquite.Bootstrap
@using Marquite.Bootstrap.Extensions
@using Marquite.Core
@using Marquite.Test.MarqForms
@using Marquite.Test.Models
@{
    ViewBag.Title = "Home Page";
    Random r = new Random();
    bool condition = r.Next(5) > 2;
    var t = base.GetType();
    var ctx = new NgContext<ISampleAngularModel>();
}


@using (Html.Bs().Container(true).Open())
{
    using (Html.Bs().Row().NgController("UserController").Open())
    {
        this.FirstColumn();

        using (Html.Bs().Column(6).Open())
        {
            Ajax.ActionLink("bbbbbb", "Index", new AjaxOptions());
                
            <h1>Column 1 @ctx.Bind(c => c.User.Age)</h1>
        }

        using (Html.Bs().Column(3).Open())
        {
            <p>
                <br />
                Hi! It is marquite Bootstrap demo.
                Please find out bootstrap demo elements on other pages<br />
                @Html.Bs().Button("Save").NgEvent(NgEvent.Click, ctx.Command(c => c.Model.SaveResults()))
                @Html.Bs().Button("Save").NgBind(ctx.Bind(c=>c.IsSimple()))
                @Html.Bs().Button("Mode").NgEvent(NgEvent.Mousemove, ctx.Command(c => c.Model.HandleMove(c.Event)))
                @Html.Bs().Button("Mode").NgEvent(NgEvent.Mousemove, ctx.Command(c => c.Model.Simple(c.Var<int>("10"))))

                @ctx.Bind(c => 1 + 3)
                @ctx.Bind(c=>c.User.Age + " ages")
            </p>
        }
        
        @Ajax.ActionLink("aaa","Index",new AjaxOptions())
    }
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
}
